/* CSS GLOBAL */
@import url(./css_global/global.css);

/* CSS HEADER */
@import url(./header/header.css);

/* CSS UTILIDADES */
@import url(./utilidades/cores.css);
@import url(./utilidades/tipografia.css);
@import url(./utilidades/componentes.css);

/* CSS MAIN */
@import url(./main/main.css);

/* CSS CARROS */
@import url(./carros/carros.css);

/* CSS TECNOLOGIA */
@import url(./tecnologia/tecnologia.css);

/* CSS PARCEIROS*/
@import url(./parceiros/parceiros.css);

/* CSS DEPOIMENTOS*/
@import url(./depoimentos/depoimentos.css);