.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.container-dois {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.titulo-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px;
  box-sizing: border-box;
  position: relative;
}

.botao{
  padding: 15px 25px;
  background-image: linear-gradient(
    to bottom, #475B8B, #213461
  );
  display: inline-block;
  text-transform: uppercase;
  color: var(--c2);
  border-radius: 5px;
  font: 600 1.125rem / 1.35 "Poppins", sans-serif;;
}

.botao:hover{
  background-image: linear-gradient(to bottom,#4e6fb1);
}