.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.container2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.titulo-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px;
  box-sizing: border-box;
  position: relative;
}