.font-1-xxl {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

.font-1-xl {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}
.font-1-l,
.font-1-l-b {
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
}

.font-1-l-b {
  font-weight: 500;
}

.font-2-xl{
  font: 500 2rem / 1.25 "Roboto", sans-serif;
}

.font-2-l,
.font-2-l-b {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}
.font-2-l-b {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.015rem;
}
.font-1-m,
.font-1-m-b {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}
.font-1-m-b {
  font-weight: 600;
}
.font-2-m {
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}
.font-1-s {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}
.font-2-s {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}
.font-2-xs {
  font: 400 0.875rem/1.428 "Roboto", sans-serif;
}
.font-1-xs {
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.font-logo {
 font-family: "Condiment";
 font-size: 2rem;
 background: -webkit-linear-gradient(left, #000000 0%, #000000 100%);
 background: linear-gradient(to right, #ededed 25%, #4e6fb1 75%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }

  .font-1-xl {
    font-size: 1.5rem;
  }

  .font-2-l,
  .font-2-l-b {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 2rem;
  }

  .font-2-xl{
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .font-1-m-b {
    font-size: 0.875rem;
    font-weight: 400;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
