.header-bg{
    background-color: var(--c12);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    flex-wrap: wrap;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-menu a{
    color: var(--c0);
    position: relative;
    display: inline-block;
}

.header-menu a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--p2);
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after{
    width: 100%;
}

.logo{
    display: inline-block;
    min-width: 125px;
}


@media (max-width: 500px){
    .header{
        justify-content: center;
    }
}