.tecnologia-back{
    background-color: var(--c11);
    box-shadow: inset 0px 80px 0px white, inset 0px -80px 0px white;
    margin-top: 80px;
}

.tecnologia-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.tecnologia-conteudo h2{
    padding-bottom: 20px;
}

.tecnologia-conteudo h3{
    padding-bottom: 32px;
}

.tecnologia-conteudo p{
    padding-bottom: 20px;
}

.tecnologia-conteudo a{
    margin-bottom: 60px;
    display: inline-block;
}

.tecnologia-conteudo picture img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.tecnologia-conteudo-um{
    padding-top: 140px;
    padding-bottom: 140px;
}


.tecnologia-conteudo-um a{
    font: 500 1.5rem / 1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--p4); 
    border-bottom: 4px solid var(--p4); 
}

.tecnologia-conteudo-um h3 span{
   color: var(--p4);
}

.tecnologia-spec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-spec img{
    padding-bottom: 8px;
}

.tecnologia-spec h4{
    padding-bottom: 16px;
}

@media (max-width:800px){

    .tecnologia-back{
    box-shadow: none;
  
}

    .tecnologia-conteudo{
    grid-template-columns: 1fr;
}

    .tecnologia-conteudo picture{
    display: none;
}
}

@media (max-width:600px){
.tecnologia-spec{
    grid-template-columns: 1fr;

}

.tecnologia-conteudo-um{
    padding-top: 60px;
    padding-bottom: 40px;
}

}