.parceiros{
   margin: 60px 0px;
}

.parceiros h2{
   padding-bottom: 60px;
}

.parceiros ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    padding-inline-start: 0px;
}

.parceiros li{
    display: flex;
    padding: 32px;
    border: 1px solid rgba(0, 0, 0, 0.267);
}

.parceiros li:nth-child(-n+4){
   border-top: none;
}

.parceiros li:nth-child(1n+5){
   border-bottom: none;
  
}

.parceiros li:nth-child(4n+4){
   border-right: none;

}

.parceiros li:nth-child(4n+1){
   border-left: none;

}

.parceiros li img{
    margin: auto;
}

@media (max-width:800px){
   .parceiros ul {
    grid-template-columns: repeat(2, 1fr);  
}

.parceiros li{
    border: 1px solid rgba(0, 56, 73, 0.212);
}

.parceiros li:nth-child(2n+2){
   border-right: none; 
}

.parceiros li:nth-child(2n+1){
   border-left: none; 
}

}