.depoimento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #cd0913;
}

.depoimento picture {
  max-height: 520px;
}

.depoimento picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.depoimento div {
  align-self: end;
  padding: 40px 20px 80px 80px;
  max-height: 520px;
  box-sizing: border-box;
}

.depoimento p {
  font: italic 900 2rem / 1.25 "Merriweather", sans-serif;
  max-width: 30ch;
  position: relative;
  padding-bottom: 32px;
  color: var(--c0);
}

.depoimento p::before {
  position: absolute;
  content: "“";
  left: -50px;
  top: -20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 5rem;
}

.depoimento p::after {
  position: absolute;
  content: "”";
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 5rem;
  bottom: -40px;
}

.depoimento span {
  font: 600 1.125rem / 1.35 "Poppins", sans-serif;
  color: var(--c0);
}

@media (max-width: 800px) {
  .depoimento {
    display: grid;
    grid-template-columns: 1fr;
  }

  .depoimento picture {
    max-height: 200px;
  }

  .depoimento div {
    justify-items: center;
    padding: 40px 20px;
    text-align: center;
  }

  .depoimento div p {
    text-align: center;
    font: italic 900 1.5rem / 1.3 "Merriweather", sans-serif;
  }

  .depoimento p::before {
    display: none;
  }

  .depoimento p::after {
    display: none;
  }
}
