.intro-bg {
    background-color: var(--c12);
    box-shadow: inset 0px -120px 0px white;
}

.intro {
    display: grid;
    gap: 0px 40px;
    grid-template-columns: 6fr 6fr;
}

.intro-conteudo {
    margin-bottom: 32px;
    align-self: self-end;
    padding-bottom: 160px;
}

.intro-conteudo h2{
    margin-bottom: 32px;
}

.intro-conteudo p{
    margin-bottom: 20px;
}

.intro-carro img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
}

.intro-conteudo h2 span{
   color: var(--p4);
}


@media (max-width: 800px){
    .intro{
        grid-template-columns: 1fr;
    }

    .intro-conteudo {
       align-self: self-end;
       padding-bottom: 32px;
       padding-top: 32px;
       margin-bottom: 0px;
   }

   .intro-conteudo p {
      padding-bottom: 16px;  
   }


   .intro-bg {
    background-color: var(--c11);
    box-shadow: inset 0px -120px 0px white;
}


.intro-carro img{
    width: 100%;
    height: 300px;
}
}